@import url("../../../src/shared/stylesheet.css");
@import url("../../../src/shared/components.css");

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Page Background */
body {
    background-image: url(../../../public/assets/images/login-bkg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Layout */
main {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

/* Main Grid */
.rt {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    align-items: center;
    justify-items: center;
}

/* Logo */
.rtLogo {
    max-width: 80%;
}

/* Reset Box */
.login-box {
    height: 80%;
    display: flex;
    padding: 1vw 0 0.5vw 0;
    width: 70%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
}

span.text-center {
    color: #D02720;
    line-height: 1em;
    font-size: 4em;
    font-family: 'SCHABO Condensed';
}

.singleLine {
    width: 9.5em;
}

/* Form */
form#resetPasswordForm {
    font-family: SCHABO Condensed;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

/* Inputs */
.input {
    display: flex;
    flex-direction: column;
}

.input label {
    font-family: Futura LtCn BT;
    color: #fff;
    font-size: 2em;
}

.input input {
    width: 100%;
    height: 1.5em;
    border-radius: 0.5em;
    font-size: 1.5vw;
    padding: 0 0.5vw;
}

/* Buttons Area */
.buttons {
    height: 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

/* Submit Button */
.button {
    display: flex;
    width: 10vw;
    height: 4vw;
    background-color: #ffffff;
    color: #000;
    border: 0.2vw solid #D02720;
    border-radius: 10%;
    font-size: 2vw;
    cursor: pointer;
    flex-direction: row;
    font-family: SCHABO Condensed;
    justify-content: space-evenly;
    align-items: center;
}

.arrow {
    height: 2vw;
}

/* Login Link */
.sign {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Futura LtCn BT';
    color: white;
    font-size: 1.5em;
}

.sign span {
    color: white;
}

.sign a {
    color: #fff;
    text-decoration: none;
}

.sign a:hover {
    color: green;
}

/* ✅ Reset Password Success State */
#resetSuccessState {
    display: none;
    width: 100%;
    text-align: center;
    animation: fadeIn 0.4s ease-in-out;
    color: white;
    font-size: 1.5em;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    margin-top: 1em;
}

/* ✅ Smooth entry animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.96);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}