@font-face {
  font-family: FutraLight;
  src: url(../../../public/fonts/Futura-Light-font.ttf);
}

@font-face {
  font-family: SCHABO-Condensed;
  src: url(../../../public/fonts/SCHABO-Condensed.otf);
}

#bg {
  background-image: url(../../../public/assets/route.png), url(../../../public/assets/Logo-para-marca-personal-en-negro-y-rosa-15.png), url(../../public/assets/Dashes.png);
  background-position: right top, right center, right bottom;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-attachment: scroll, scroll, scroll;
  background-size: 100px, auto 300px, 100px auto;
  padding: 1vw;
  height: 60vw;
}

main span {
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  line-height: 1;
  font-size: 60px;
  color: #fff;
}

.hello {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

#nameInfo {
  display: flex;
  line-height: 1;
  font-size: 65px;
  color: #fff;
}

.userData span {
  padding-left: 20px;
  display: flex;
  line-height: 1;
  font-size: 60px;
  color: red;
}

#bg .line {
  padding-left: 20px;
  height: auto;
  width: 210px;
}

main .line2 {
  padding-left: 20px;
  height: auto;
  width: 510px;
}

.userData {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

canvas {
  border: 2px solid #000000;
  background-color: #A7A7A7;
  border-radius: 1vw;
  width: 61em;
  height: 25em;
}

.avatar {
  border-radius: 1vw;
  background-color: #000000;
  height: 100%;
  width: 12vw;
  margin-right: 3vw;
  display: flex;
  align-items: center;
  border: 1px solid #FFFFFF;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

.uploads {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1vw 0 1vw 1vw;
  width: 100%;
  height: 30vh;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
}

.chart-container {
  width: 1000px;
  height: 400px;
  /* ✅ fixed height */
  position: relative;
  padding-left: 20px;
}

#prevChart {
  background-image: url(../../../public/assets/images/left-navigation-button.png);
}

#nextChart {
  background-image: url(../../../public/assets/images/right.png);
}

.chart-arrows {
  margin-top: 1vw;
  height: 2vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0vw 0.1vw;
}

.chart-arrows button {
  background-repeat: no-repeat;
  background-color: white;
  width: 2vw;
  height: 100%;
  border-radius: 0.5vw;
  cursor: pointer;
  background-size: contain;
}

.chart-arrows button:hover {
  transform: scale(1.1);
}

.small-box {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 4vw;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 1vw;
  width: 25vw;
  height: 100%;
  border: 1px solid #FFFFFF;
}

@media (max-width: 768px) {

  main span,
  .userData span {
    font-size: 36px;
  }

  #nameInfo {
    font-size: 40px;
  }

  .small-box {
    font-size: 30px;
    width: 90vw;
    height: auto;
    padding: 15px;
    line-height: 40px;
  }


  .avatar {
    width: 90vw;
  }

  #img-preview {
    width: 100%;
    height: auto;
  }

  #bg .line,
  main .line2 {
    width: 70vw;
  }

  .chart-container {
    width: 65vw;
    height: 35vw;
    position: relative;
    padding: 1vw;
  }

  .chart-arrows {
    bottom: -25px;
  }

  .chart-arrows button {
    font-size: 18px;
    transform: scale(0.8);
  }

  .hello {
    align-items: center;
    padding-left: 0;
    text-align: center;
  }

  .userData {
    padding-left: 0;
    align-items: center;
  }

}

@media (max-width: 1024px) {
  .small-box {
    width: 80vw;
  }

  .avatar {
    width: 300px;
  }

  .chart-container {
    width: 95vw;
  }
}