/* analytics.css */
@import url("../../../src/shared/stylesheet.css");
@import url("../../../src/shared/components.css");


#bg {
    display: flex;
    padding: 0 0 4vh 0;
    width: 79vw;
    background-image: url(../../../public/assets/images/Logo-para-marca-personal-en-negro-y-rosa-15.png), url(../../../public/assets/images/Dashes.png), url(../../../public/assets/images/Logo-para-marca-personal-en-negro-y-rosa-15.png);
    background-position: right top, right center, right bottom;
    background-repeat: no-repeat, no-repeat, no-repeat;
    flex-direction: column;
    overflow: auto;
}

/* Stats */
.stats {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 9vw;
    padding: 0 2.3em;
    border-radius: 25%;
    justify-content: space-between;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Futura LtCn BT;
    background-color: #202020;
    color: #FFFFFF;
    border: 0.1rem solid #FFFFFF;
    font-weight: bold;
    font-size: 2vw;
    border-radius: 2rem;
    padding: 0.8vh 0vw 0.8vh 0vw;
    width: 12vw;
    height: 60%;
}

/* Video Section */
.video-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 35vw;
    margin-bottom: 2vw;
}

.vid-chart {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    position: relative;
    width: 37vw;
}

#uploaded-video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* match pixel matrix DO NOT preserve aspect */
    z-index: 1;
}



video {
    border-radius: 3%;
    border: 0.1em solid #000000;
}

#output_canvas {
    position: absolute;
    inset: 0;
    /* top:0; right:0; bottom:0; left:0 */
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* clicks go to video/controls beneath */
    background: transparent;
    border: 0;
    border-radius: 3%;
    /* match video rounding if you like */
    z-index: 2;
}


#analyzingIndicator {
    display: none;
    font-size: 2vw;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1vw;
    border-radius: 1vw;
}




.chart-wrapper {
    background-color: transparent;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

#myChart2 {
    background-color: #ffffff;
    width: 35vw;
    height: 100%;
    border-radius: 0.6rem;
}

#videoForm {
    position: absolute;
    top: 15px;
    left: 470px;
    transform: translateX(-50%);
}



.replacebtns {
    display: flex;
}


.playprocess {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-process-button {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 1vw 0 0 0;
    height: 0vw;
}

#playProcessedButton {
    font-family: SCHABO Condensed;
    background-color: #000000;
    border-radius: 1.6vw;
    color: #FFFFFF;
    display: inline-block;
    font-size: 2vw;
    cursor: pointer;
    border: #ff4343 solid 0.3vw;
    display: none;
    height: 100%;
}

.button {
    font-family: SCHABO Condensed;
    background-color: #000000;
    border-radius: 1.5vw;
    color: #FFFFFF;
    height: 4vw;
    width: 12vw;
    padding: 0.2vw 0 0.2vw 0;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
    cursor: pointer;
    border: #ff4343 solid 0.2rem;
}

.btns-container {
    height: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    margin: 0 0 2vw 0;
    padding: 0vw 3.5vw;
    align-items: flex-start;
}

#uploadvideo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
}

#stats-container {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 85vh;
}

.card-container {
    width: 27%;
    height: 100%;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.is-flipped {
    transform: rotateY(180deg);
    transition: transform 0.5s ease-in;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1vw;
    font-size: 3vw;
    color: white;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    overflow: auto;
}

.card-hover:hover {
    transition: transform 0s ease-in;
    transform: scale(1.03);
}

.back-card-title span {

    text-decoration: underline;
    font-size: 3vw;
}

.back-card-title {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.front-card-title span {
    font-size: 6vw;
}

.card-front {
    background-color: #202020;
    transform: rotateY(180deg);
    padding: 1vw;
    overflow: hidden;
    justify-content: space-between;
}

.front-card-title {
    display: flex;
    background-image: url(../../../public/assets/images/Red-Streak.png);
    background-attachment: initial;
    background-repeat: no-repeat;
    background-position: 0% 80%;
    background-size: 19vw -18vw;
    height: 13vw;
    align-content: stretch;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.card-back2 .front-card-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-position: 1vw 9vw;
    height: 18vw;
    padding: 0 1vw;
    align-content: space-between;
}

.card-metrics-container {
    height: 20vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
}

.progressBars {
    width: 100%;
}

.card-front:hover {
    background-color: #575656;
}

p {
    letter-spacing: 0.1vw;
    font-family: Futura LtCn BT;
    text-decoration: underline;
    align-self: start;
    font-size: 2vw;
    padding-left: 10px;
}

#myChart {
    display: block;
    box-sizing: border-box;
    height: 40vh;
    width: 100%;
}

.description {
    font-family: Futura LtCn BT;
    width: 100%;
    height: 30%;
    background-color: #202020;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card-back {
    background-color: #202020;
    background-image: url(../../../public/assets/images/redScuff_rotated.png);
    background-position: -13vw -10vw;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: 35vw 35vw;
}

.slideContainer progress {
    width: 100%;
    height: 16px;
    appearance: none;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FFFFFF;
}

.sliderHead {
    font-size: 2vw;
    font-family: Futura LtCn BT;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.progressWrapper {
    width: 100%;
    height: 1.5vw;
    background-color: #eee;
    border-radius: 0.5vw;
    overflow: hidden;
}

.progressFill {
    height: 100%;
    width: 0%;
    background: #c32222;
    transition: width 0.3s ease;
}

progress::-webkit-progress-bar {
    background-color: #c32222;
}

progress::-webkit-progress-value {
    background-color: #c32222;
}

progress::-moz-progress-bar {
    background-color: #c32222;
}

.card-back2 {
    background-color: #202020;
}

.card-back3 {
    background-color: #202020;
    background-image: url(../../../public/assets/images/redScuff.png);
    background-position: 0vw 11vw;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: 35vw 35vw;
}

.donut-chart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-legend-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-direction: row;
    align-content: stretch;
    align-items: baseline;
}


#outerLegend {
    margin-top: 3.5vw;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 6px; */
    justify-content: space-between;
}

#outerLegend .legend-color-box {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 6px;
    border-radius: 2px;
}

.legend-label-text {
    font-family: Futura LtCn BT;
    font-size: 1vw;
    color: white;
    letter-spacing: 0.1vw;
}

.tooltip-label {
    position: relative;
    cursor: help;
    font-weight: bold;
}

/* Tooltip box */
.tooltip-label .tooltip-text {
    visibility: hidden;
    opacity: 0;
    width: 15em;
    background: #fff;
    color: #222;
    text-align: left;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 0.6em;
    line-height: 1.5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    position: absolute;
    bottom: 130%;
    left: 0%;
    /* transform: translateX(-50%); */
    z-index: 10;
    transition: opacity 0.3s ease;
}

/* Speech bubble arrow - bottom left */
.tooltip-label .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    /* Places arrow below tooltip */
    left: 20px;
    /* Adjust this to move arrow horizontally */
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

/* Show tooltip on hover */
.tooltip-label:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


#outerLegend div {
    display: flex;
    align-items: center;
}


#innerLegend .legend-color-box {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 6px;
    border-radius: 2px;
}

#innerLegend div {
    display: flex;
    align-items: center;
}

.ai-video-wrap {
    padding: 0;
    position: relative;
    width: 100%;
    height: 4em;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: #000;
}

.ai-preview-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.85;
}

.ai-video-text {
    position: relative;
    text-align: center;
    font-size: 0.5em;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 6px #ff4343;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.button-disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
}

.button-success {
    opacity: 0.7;
}