@import url("../../../src/shared/stylesheet.css");
@import url("../../../src/shared/components.css");

.library {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 1em;
}

.catagory {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  width: 100%;
  align-items: flex-start;
}

.library span {
  display: flex;
  justify-content: start;
  line-height: 1;
  font-size: 50px;
}

.singleLine {
  height: auto;
  width: 150px;
}

.scrollmenu {
  overflow: auto;
  white-space: wrap;
}

.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.scrollmenu a:hover {
  background-color: #777;
}

/* Hide scrollbar for Webkit-based browsers (Chrome, Safari) */
div.scrollmenu::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
div.scrollmenu {
  scrollbar-width: none;
}

/* Video and Canvas Styles */
#video-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
  /* margin-top: 30px; */
  /* overflow: scroll; */
  flex-wrap: wrap;
}

video,
canvas {
  width: 25vw;
  height: 25vw;
  border-radius: 10%;
  background-color: #000000;
  border: 1px solid #FFFF;
}

.drill {
  display: flex;
  flex-direction: column;
  color: #FFFF;
  padding: 0;
  font-size: 30px;
  gap: 10px;
  align-items: center;
}

.description {
  font-family: Futura LtCn BT;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

@media (max-width: 768px) {
  header .title {
    font-size: 40px;
    text-align: center;
  }

  .search input {
    width: 80vw;
    font-size: 16px;
    padding: 10px;
  }

  .library {
    padding: 10px;
    gap: 20px;
  }

  .catagory {
    font-size: 18px;
    padding-left: 10px;
  }

  .library span {
    font-size: 36px;
    justify-content: center;
    text-align: center;
  }

  .singleLine {
    width: 100px;
    margin: 0 auto;
  }

  .scrollmenu {
    overflow-x: scroll;
    padding-bottom: 10px;
  }

  #video-container {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 16px;
    width: auto;
    margin-left: 10px;
  }

  .drill {
    min-width: 70vw;
    font-size: 20px;
    align-items: center;
    text-align: center;
  }

  video,
  canvas {
    width: 70vw;
    height: auto;
  }

  .description {
    width: 70vw;
    font-size: 16px;
    align-items: center;
  }

  /* Allow horizontal scrolling */
  .scrollmenu {
    -webkit-overflow-scrolling: touch;
  }
}