@font-face {
    font-family: FutraLight;
    src: url(../../public/fonts/Futura-Light-font.ttf);
}

@font-face {
    font-family: SCHABO-Condensed;
    src: url(../../public/fonts/SCHABO-Condensed.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: SCHABO-Condensed;
    background-color: #383838;
    display: flex;
}

aside {
    position: sticky;
    padding: 0.5vw;
    background-color: #e62a2a;
    height: 100vh;
    width: 20%;
    top: 0;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 12vh;
}

aside a {
    color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside ul {
    list-style: none;
    padding: 0 0 0 1em;
}

aside a.active,
aside a:hover,
aside a:focus-visible {
    outline: none;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px #000000;
}


aside a span {
    font-size: 3vw;
    text-shadow: 1px 1px 0px #ffffff;
}

.logo {
    width: 100%;
}

.links {
    display: flex;
    flex-direction: column;
    padding: 0 2em 0 0;
}

.arrow {
    width: 20%;
}

.line {
    height: auto;
    width: 100%;
}

li {
    margin: 0.5vh 0vw 0.5vh 0vw;
}

.logOut:hover {
    color: #FFFFFF;
}

.logOut {
    color: #000000;
    font-size: 2vw;
    margin: 0rem 0 0rem 1rem;
}

.icons {
    width: 2vw;
    height: 4vh;
}

.socials {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 1rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90vw;
    overflow: auto;
}

.header {
    display: flex;
    height: 10vh;
    background-color: #000000;
}

.contact {
    background-color: #000000;
    color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
    width: 100%;
    height: 250px;
    position: relative;
    bottom: 0;
}

h1 {
    font-size: 4em;
    font-weight: normal;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 1vh 0vw 0vh 1vw;
    color: #FFFFFF;

}

p {
    font-family: FutraLight;
    font-size: 30px;
    text-align: left;
}

input::placeholder {
    font-family: FutraLight;
    color: #FFFFFF;
    font-size: 30px;
}

#contactForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

#name,
#email,
#note {
    float: right;
    opacity: 100%;
    height: 40px;
    font-size: 30px;
    color: #FFFFFF;
    background-color: #000000;
    border: none;
    border-bottom: 2px solid #FFFFFF;
}

#submitButton {
    font-family: SCHABO-Condensed;
    background-color: #FFFF;
    color: #000000;
    border: 2px solid #D02720;
    border-radius: 10%;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    width: 150px;
    cursor: pointer;
}



/* copied from index.css */
.football {
    height: auto;
    width: 40px;
}

.social-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 3vw;
    height: 6vh;
    border-radius: 1.5rem;
}



.logOut span {
    cursor: pointer;
    text-shadow: 1px 1px 0px #ffffff;
}

.header input[type=text] {
    float: left;
    padding: 15px;
    border-radius: 20px;
    width: 400px;
    margin-top: 5px;
    margin-right: 16px;
    font-size: 17px;
}